{% extends "news_loader/base.html" %}

{% block title %}News Space{% endblock %}

{% block content %}
<div>
    {% for article in nwarticles %}
    <div style="margin-bottom: 5px; background-color:lightgrey;border-radius: 10px;">
        <div style="display: flex; align-items: center;">                    
            <img class="image-thumbail" src = "{{ article.aimage}}">
            <a style="text-align: left;" class="btn btn-sm m-1" onclick="view_news('{{article.link}}')">{{article.headline}}</a>
        </div>
    </div>
    {% empty %}
    <h3>No News...</h3>
    {% endfor %}
</div>
{% endblock %}