{% extends "news_loader/base.html" %}

{% block title %}News Space{% endblock %}

{% block content %}
<div>
    {% for article in nwarticles %}
    <div class="news-container">
        <div class="news-article">
            <div>
                <img class="image-thumbail" src="{{ article.aimage}}">
            </div>
            <div>
                <a class="btn btn-sm m-1 news-article-link"
                    onclick="view_news('{{article.link}}')">{{article.headline}}</a>
                <a class="btn btn-sm m-1 news-date"
                    onclick="view_news('{{article.link}}')">@{{article.f_published_date}}</a>
            </div>
        </div>
    </div>
    {% empty %}
    <h3>No News...</h3>
    {% endfor %}
</div>
{% endblock %}